
$totals: #dae3e5;
$btn-hover: #c7eae4;
$output-bg: #0d1f2d;
$input-header: rgb(94, 122, 125);
$resetBtn: #546a7b;
$resetBtnDisabledText: rgb(8, 49, 51);
$grayish-cyan: rgb(127, 156, 159);
$main-bg: #bbd1ea;
$input-bg: rgb(244, 250, 250);
$card-bg: rgb(255, 255, 255);
$error: rgb(200, 115, 90);

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

body {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $main-bg;
}

.container {
    margin-top: 4rem;
    text-align: center;

    h1 {
        font-family: 'Bebas Neue', cursive;
        font-size:3.5rem;
    }
}


.calculator {
    width: 23rem;
    margin-top: 2rem;
    background: $card-bg;
    border-radius: .75rem;
    padding: 1.5rem;
    text-align: left;
}



.userInput {

    .amount-input, .num-ppl-input {
        position: relative;
        margin-bottom: 1.75rem;

        label {
            display: block;
            margin-bottom: .25rem;
            color: $input-header;
        }

        svg {
            position: absolute;
            top: 2.75rem;
            left: .75rem;
        }

        input {
            text-align: right;
            font-size: 1.6rem;
            height: 3rem;
            width: 100%;
            border-radius: .25rem;
            border: none;
            background-color: $input-bg;
            color: $output-bg;

            &:hover {
                cursor: pointer;
                border: 3px solid $btn-hover;
            }

            &:focus {
                outline: none;
                border: 3px solid $btn-hover;
            }
        }

        

        .error-text {
            visibility: hidden;
            color: $error;
            position: absolute;
            top: 0rem;
            right: 0rem;
        }
        .error {
            border: 3px solid $error;
        }
    }
    
    .tip-input {
        margin-bottom: 1.75rem;

        .tip-section-label {
            display: block;
            margin-bottom: .75rem;
            color: $input-header;
            font-size: 1rem;
        }

        .tip-selections {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 1rem;

            .tip-input {
                display: none;
            }

            .tip-label {
                background-color: $output-bg;
                color: $input-bg;
                font-size: 1.5rem;
                text-align: center;               
                border-radius: .35rem;
                padding: .45rem 0;

                transition: all 200ms linear;

                &:hover {
                    cursor: pointer;
                    background-color: $btn-hover;
                    color: $output-bg;
                }
            }

            .selected-tip {
                background-color: $totals;
                color: $output-bg;
            }

            #custom-tip {
                max-width: 9.5rem;
                border-radius: .25rem;
                border: none;
                font-size: 1.5rem;
                height: 3rem;
                text-align: right;
                background-color: $input-bg;
                color: $output-bg;

                &::placeholder {
                    color: $input-header;
                }
            
                &:hover {
                    cursor: pointer;
                    border: 3px solid $btn-hover;
                }
            }
        }
    }
}


.calculations {
    background-color: $output-bg;
    border-radius: .75rem;
    padding: 1.5rem;

    .calc {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: .5rem 0;

        .calc-label {
            p {
                color: $main-bg;
            }

            span {
                color: $grayish-cyan;
                font-size: .85rem;
            }
        }
        
        h3 {
            color: $totals;
            font-size: 1.75rem;
        }
    }


    // RESET BUTTON ACTIVE CLASS
    .btn-active {
        background-color: $totals !important;
        color: $output-bg !important;

        transition: all 250ms linear;

        &:hover {
            cursor: pointer;
            background-color: $btn-hover !important;
        }
    }

    .resetBtn {
        font-family: 'Bebas Neue', cursive;
        background-color: $resetBtn;
        color: $resetBtnDisabledText;
        border: none;
        border-radius: .25rem;
        font-size: 1.5rem;
        text-transform: uppercase;
        width: 100%;
        height: 2.5rem;
        margin-top: 1.5rem;
    }
}


// RESPONSIVE STYLES


@media only screen and (min-width: 1440px) {
    body {
        height: 100vh;
    }

    .container {
        margin-top: 0rem;
    }

    .calculator {
        padding: 2rem;
        width: 55rem;
        height: 30rem;
        display: flex;
        justify-content: space-between;
    }

    .userInput {
        width: 24rem;

        form {
            .tip-input {
                margin: 2.5rem 0;

                .tip-selections {
                    grid-template-columns: repeat(3, 1fr);
                    
                    #custom-tip {
                        max-width: 7rem;
                    }
                }
            }
        }
    }

    .calculations {
        width: 24rem;
        padding: 2.5rem;

        .calc {
            margin-bottom: .75rem;

            h3 {
                font-size: 2.5rem;
            }
        }

        .resetBtn {
            height: 3rem;
            margin-top: 7.25rem;
        }
    }
}

